<a href="https://colab.research.google.com/github/NestorRodriguez/MisionTIC-2022-Ciclo1/blob/main/listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Estructuras de datos - listas

In [23]:
# Listas
list = [1 , 2 , 3]
print(list)
listNombre = ['Juan', 'Pedro', 'Jesus', 'Jose']
print(listNombre)
listMixta = ['Maria', True, 0]
print(listMixta)

# Aceeso a una posición de la lista
print(listMixta[2])

# Acceso invertido
print(listNombre[-1])
print(listMixta[-2])

# Rangos no incluye el ultimo indice
print(listNombre[0:2])

#Rango toda la lista sin incluir el indice de referencia
print(listNombre[:1])

#Rango - trae la lista desde el indice mencionado (incluyendolo) hasta el final de la lista
print(listNombre[2:])

[1, 2, 3]
['Juan', 'Pedro', 'Jesus', 'Jose']
['Maria', True, 0]
0
Jose
True
['Juan', 'Pedro']
['Juan']
['Jesus', 'Jose']

In [29]:
# Listas
list = [1 , 2 , 3]
print(list)
listNombre = ['Juan', 'Pedro', 'Jesus', 'Jose']
print(listNombre)
listMixta = ['Maria', True, 0]
print(listMixta)
# Asignación
listNombre[1] = 'Maria'
print(listNombre)
# Recorrido
for valor in listMixta:
  print(valor)
else:
  print('No hay más elementos')
# longitud
print(len(listNombre))

[1, 2, 3]
['Juan', 'Pedro', 'Jesus', 'Jose']
['Maria', True, 0]
['Juan', 'Maria', 'Jesus', 'Jose']
Maria
True
0
No hay más elementos
4

In [48]:
# listas - operaciones
listNombre = ['Juan', 'Pedro', 'Jesus', 'Jose']
print(listNombre)
# Agregar
listNombre.append('Nestor')
listNombre.append('Nestor')
print(listNombre)
# Agregar con indice
# listNombre.insert(len(listNombre), 'Alejandra')
listNombre.insert(1, 'Alejandra')
print(listNombre)

# Remover valor
listNombre.remove('Nestor')
print(listNombre)

# Remover el último 
listNombre.pop()
listNombre.pop()
print(listNombre)

# Remover con indice
del listNombre[1]
print(listNombre)

# Limpiar
listNombre.clear()
print(listNombre)

# Remover la lista
del listNombre

['Juan', 'Pedro', 'Jesus', 'Jose']
['Juan', 'Pedro', 'Jesus', 'Jose', 'Nestor', 'Nestor']
['Juan', 'Alejandra', 'Pedro', 'Jesus', 'Jose', 'Nestor', 'Nestor']
['Juan', 'Alejandra', 'Pedro', 'Jesus', 'Jose', 'Nestor']
['Juan', 'Alejandra', 'Pedro', 'Jesus']
['Juan', 'Pedro', 'Jesus']
[]

In [52]:
# Ejercicio Jaime - eliminar los nestor
listNombre = ['Juan', 'Pedro', 'Jesus', 'Jose']
# Agregar
listNombre.append('Nestor')
listNombre.append('Nestor')
print(listNombre)
for nombre in listNombre:
  if nombre == 'Nestor':
    listNombre.remove('Nestor')
print(listNombre)

['Juan', 'Pedro', 'Jesus', 'Jose', 'Nestor', 'Nestor']
['Juan', 'Pedro', 'Jesus', 'Jose', 'Nestor']